.ui.inverted.top.fixed.menu {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(74, 20, 94, 1) 22%,
    rgba(118, 193, 208, 1) 100%
  );
}

.ui[class*="right labeled"].input > input {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-right-color: rgba(34, 36, 38, 0.15) !important;
}

.carousel-img {
  max-width: 100%;
}
