.ui.inverted.top.fixed.menu {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(74, 20, 94, 1) 22%,
    rgba(118, 193, 208, 1) 100%
  );
}

.masthead {
  display: flex;
  align-items: center;
  height: 100vh;
}
